*{
  display: flex;
  margin: auto;
  padding: 0px;
}
html, body{
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url("/Blog/Ville.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
}

h1{
  width: 100%;
  font-size: 90px;
  font-family: 'Laila', sans-serif;
  font-weight: bold;
  color: #dcdcdc;
  justify-content: center;

}

h2{
  width: 100%;
  font-size: 20px;
  color: #dcdcdc;
  font-family: 'Laila', sans-serif;
  justify-content: center;
  margin-bottom: 40px;
}

#titre{
  width: 100%;
  font-size: 60px;
  color: white;
  font-family: 'Laila', sans-serif;
  font-weight: bold;
  color: #dcdcdc;
  justify-content: center;
}


.contenu{
  padding: 0px 20px;
  width: 70%;
  background: rgba(255, 255, 255, 0.8);
  flex-direction: column;
}

span{
    color: white;
    font-family: "Laila";
    font-size: 30px;
    width: 100%;

}

hr{
  color: white;
  height: 2px;
  width: 100%;
  margin: 10px 0px;

}

.profil{
  flex-direction: column;
  width: 30%;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  height: 625px;
}

.contact{
  position: relative;
  bottom: 80px;
}

p{
  font-size: 15px;
  color: white;
  font-family: "Laila";
  width: 100%;
  position: relative;
  bottom: 50px;
}

ul{
  flex-direction: column;
  width: 100%;
}

li{
  font-size: 15px;
  color: white;
  font-family: "Laila";
  width: 100%;
}

.competences{
  width: 100%;
  align-content: space-around;
}

.comp li{
  font-size: 15px;
  color: black;
  font-family: "Laila";
  width: 100%;
}

.main{
  flex-direction: row;
  width: 90%;
  height: 100%;
}

.rubrique{
  margin: 20px 0px;
  color: black;
  text-align: center;
  background: linear-gradient(to left, #434343 , #FFC837);
  width: 100%;
  height: 40px;
  text-align: left;
  font-family: "Caveat Brush", cursive;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
}

a:link, a:visited{
  margin: 20px 0px;
  height: 30px;
  width: 110px;
  font-family: "Laila";
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #505050;
  text-decoration: none;
  background: linear-gradient(to left, #000000 , #434343);
}

a:hover{
  transition: 1.5s;
  color: #FFC837;
  border: 1px solid #FFC837;
  height: 30px;
  width: 110px;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 70px;
  justify-content: center;
}
